# dependencies
node_modules/

# next.js
.next/
out/

# build
dist/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# os
.DS_Store
Thumbs.db

# ide
.vscode/
.idea/
*.swp
*.swo

# prisma
prisma/*.db
prisma/*.db-journal

# coverage
coverage/

# vercel
.vercel
